<nav class="navbar navbar-default navbar-toggleable-md navbar-light bg-faded" >
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbartoggled" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand">RPGBOARD</a>
    <div class="collapse navbar-collapse" id="navbartoggled" >
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <a class="nav-item nav-link" routerLink="/trova">Trova</a>
            <a class="nav-item nav-link" routerLink="/games">Giochi</a>
            <a class="nav-item nav-link" *ngIf="!(isLogged$ | async)" (click)="open_login()">Log In</a>
            <a class="nav-item nav-link" *ngIf="isLogged$|async" routerLink="/user"><span class="fa fa-user" style="margin-right: 3px;"></span>Profilo</a>
            <a class="nav-item nav-link" *ngIf="isLogged$|async" (click)="open_logout(logout)" style="color: #484848">Logout</a>
        </div>
    </div>
</nav>
<div class="jumbotron opaque" [@bigsmall]="jumbostate|async">
    <div class="row" [class.colorred]="(jumbostate|async) === 'small'">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 jumbotron-h1" >
            <h1>RPG BOARD</h1>
        </div>
    </div>
    <div class="row" [class.colorred]="(jumbostate|async) === 'small'">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 hidden-xs-down jumbotron-text" >Per trovare giocatori come te, vicino a te</div>
    </div>
</div>


<div>
    <router-outlet></router-outlet>
</div>

<ng-template #logout let-d="dismiss" let-c="close">
    <div class="container-logout">
        <p>Sei sicuro di voler fare logout?</p>
        <div class="container-btns">
            <button class="btn btn-outline-danger" (click)="log_out(); c('signed out')">Sì</button>
            <button class="btn btn-outline-success" (click)="d('close')">No</button>
        </div>
    </div>
</ng-template>
