@media only screen and (max-width: 991px) {
    .jumbotron {
        display: none
    }
}

.nav-link:hover {
    cursor: pointer;
}

.container-logout {
    padding: 10px;
    text-align: center
}

.colorred {
    visibility: hidden;
}
