<div style="position: relative">
    <div class="container addform"  >
        <div class="underform">
            <div class="title">
                <h1 style="width: 150px;">Aggiungi</h1><div (click)="hid_form()" class="remove-opaque"><h1>X</h1></div>
            </div>
            <form class="form-group" [formGroup]="addAd">
                <input class="form-control" name="game" placeholder="Gioco" formControlName="game"
                [ngbTypeahead]="searchgames">
                <select class="form-control" name="location" placeholder="Dove" formControlName="location" style="padding: 8px;">
                    <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
                </select>
                <textarea type="text" class="form-control" name="description" placeholder="Descrizione (max 200 caratteri)" formControlName="description"></textarea>
                <button class="btn btn-block btn-primary"  [disabled]="addAd.invalid"
                        (click)="submit_ad_form()">Invia</button>
            </form>
        </div>

    </div>
</div>
