
.addform form{
    padding: 0 15px 15px 15px;
    margin-bottom: 0;
}
.addform form textarea{
    height: 150px;
}

.underform{
    position: absolute;
    left:0;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%
}
.underform .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.underform h1{
    padding: 8px 20px 5px 15px;
    margin: 0 0 9px 0;
    color: rgb(123, 160, 193);;
}

.underform .btn{
    margin-top: 8px;
    background-color: rgb(212, 119, 121);
    border: transparent;
    width: 120px;
}

.remove-opaque{
    text-shadow: 2px 2px rgb(212, 119, 121);
    color: white;
}

.remove-opaque:hover{
    cursor: pointer;
}
