doctype html

html
    head
        meta(charset="utf-8")
        title RPGBOARD
        base(href="/")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
        script(type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.slim.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
        script(type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
        link(rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css")
        script(src="https://apis.google.com/js/platform.js")
        meta(name="google-signin-client_id" content="249166985359-52s651k4st6onss6ehvb3sb9779j7m9s.apps.googleusercontent.com")
        link(href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet")
        link(rel="icon" type="image/x-icon" href="favicon.ico")
        meta(id='_csrf', name= csrf)

    body
        div(id='my-body-wrapper')
            app-root
        script(type="text/javascript" src="inline.bad1846f26f33a84f45e.bundle.js")
        script(type="text/javascript" src="polyfills.808726950d9fb65ec53e.bundle.js")
        link(rel="stylesheet" href="styles.870d904688543ee4c5a6.bundle.css")
        script(type="text/javascript" src="vendor.4ecc85db1173fc74c59d.bundle.js")
        script(type="text/javascript" src="main.d93dd0390eb17de79dd0.bundle.js")
