
<div class="container container-user-posts">
    <div class="row">
        <span class="col-lg-4 col-md-4">{{post.game}}</span>
        <span class="col-lg-4 col-md-4">{{post.location}}</span>
        <span class="col-lg-4 col-md-4">{{post.timestamp | toIsoDate | slice:0:10}}</span>
    </div>

</div>
