.container-user-posts span{
    text-align: center;
    font-size: 20px;
    color: inherit;
}
.container-user-posts{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    color: #6e6e6e
}
.container-user-posts:hover{
    background-color: #eee;
    color: #6182b1;
    text-decoration: underline;
    cursor: pointer;
}



