
<div class="container-home">

    <div class="home-find homecont" [@enterfast] *ngIf="ifs[0]">
        <div class="fa fa-search"></div>
        <div class="text">
            <h1>Cerca</h1>
            <p>Cerca annunci di altri giocatori come te! Trovarsi con altre persone simili è divertente!</p>
        </div>

    </div>
    <div class="home-write homecont" [@enterfast] *ngIf="ifs[1]">
        <div class="fa fa-pencil-square-o"></div>
        <div class="text">
            <h1>Scrivi</h1>
            <p>Se non trovi l'annuncio che ti interessa, scrivilo tu stesso!</p>

        </div>
    </div>
    <div class="home-game homecont" [@enterfast] *ngIf="ifs[2]">
        <div class="fa fa-gamepad"></div>
        <div class="text">
            <h1>Giochi</h1>
            <p>Seleziona tra una lunga lista di giochi, o, se non trovi quello che cerchi, aggiungilo tu stesso!</p>
        </div>
    </div>
</div>

