.container-home {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: auto;
    grid-template-areas: 'find' 'write' 'game';
}
.homecont{
    margin-top: 0;
    display: grid;
    grid-template-columns: 15% 8% 5% auto 15%;
    grid-template-rows: auto;
    grid-template-areas: '. icon . text .';
}
.home-find{
    grid-area: find;
}
.home-write{
    grid-area: write;
}
.home-game{
    grid-area: game;
}
.fa-search, .fa-pencil-square-o, .fa-gamepad {
    color: #888;
    grid-area: icon;
    font-size: 100px;
    justify-self: center;
    align-self: center;
}
.text{
    grid-area: text;
    align-self: center;
    color: #484848;
}

@media only screen and (max-width: 991px) {
    .homecont{
        grid-template-columns: 5% 8% 15% auto 5%;
    }
}

@media only screen and (max-width: 530px) {
    .container-home {
        grid-template-rows: 200px 200px 200px;
    }
    .fa-search, .fa-pencil-square-o, .fa-gamepad {
        font-size: 85px;
    }
    .homecont{
        grid-template-columns: 10% 10% 15% auto 10%;
    }
    .homecont h1{
        font-size: 26px;
    }
    .text{
        font-size: 18px;
    }
}

@media only screen and (max-width: 380px) {
    .fa-search, .fa-pencil-square-o, .fa-gamepad {
        font-size: 70px;
    }
    .homecont{
        margin-top: 25px;
        grid-template-columns: 10% 10% 10% auto 10%;
    }
    .homecont h1{
        font-size: 23px;
    }
    .text{
        font-size: 18px;
    }
}

