<div class="container-logout">
    <p style="text-align: center; margin-top: 10px;">Non sei registrato su questo sito: scegli un username</p>
    <form class="form-group">
        <input class="form-control" type="text" placeholder="Username" #username>
    </form>

    <div class="container-btns">
        <button class="btn btn-outline-success" (click)="clicked_yes(username.value)">Ok</button>
        <button class="btn btn-outline-danger" (click)="clicked_no()">Annulla</button>
    </div>
</div>
