<div class="users" [@enter]>
    <header id="username">
        <h1>Il tuo profilo </h1>
    </header>
    <div id="infos">
        <div class="subinfo location" (click)="whatToLoad = 'account'">
            <span [class.selected-for-content]="whatToLoad === 'account'">Informazioni</span>
        </div>
        <div class="subinfo likes" (click)="whatToLoad = 'likes'">
            <span [class.selected-for-content]="whatToLoad === 'likes'">Likes</span>
        </div>
        <div id="posts" class="subinfo" (click)="whatToLoad = 'posts'">
            <span [class.selected-for-content]="whatToLoad === 'posts'">Annunci</span>
        </div>
        <div class="subinfo messages" (click)="whatToLoad = 'messages'">
            <span [class.selected-for-content]="whatToLoad === 'messages'">Messaggi</span>
        </div>
    </div>
    <div id="content">
        <div id="info-content" *ngIf="whatToLoad === 'account'">
            <div id="info-content-location">
                <h1><strong>Dove</strong></h1>
                <div class="info-content-divs" >Regione: </div>
                <div class="info-content-divs">Città</div>
            </div>
            <div id="info-content-account">
                <h1><strong>Informazioni</strong></h1>
                <div class="info-content-divs">{{(user$|async)?.username}}</div>
                <div class="info-content-divs">Registrato il: </div>
            </div>
        </div>
        <div id="likes-content" *ngIf="whatToLoad === 'likes'">
            <h1 style="text-align: center; margin-bottom: 20px;">Likes</h1>
            <div *ngFor="let post of likedposts">
                <app-user-post [post]="post"></app-user-post>
            </div>
        </div>
        <div id="posts-content" *ngIf="whatToLoad === 'posts'">
            <h1 style="text-align: center; margin-bottom: 20px;">Annunci</h1>
            <div *ngFor="let post of userposts">
                <app-user-post [post]="post"></app-user-post>
            </div>
        </div>
        <div id="messages-content" *ngIf="whatToLoad === 'messages'">
            <h1 style="text-align: center; margin-bottom: 20px;">Messaggi</h1>

        </div>
    </div>
</div>
