<div class="row row-search" [@enter] >
        <div class="input-div-left " >
            <div>
                <input class="form-control"
                       placeholder="Città"
                       #cittasearch [ngbTypeahead]="searchcities"
                       (selectItem)="emit_city($event.item); clear_cities()">
            </div>

        </div>
        <div class="input-div-right" *ngIf="(windowsize_ | async)>405; else nobutton">
            <div class="input-group" >
                <input class="form-control"
                       placeholder="Gioco"
                       #giocosearch [ngbTypeahead]="searchgames" (selectItem)="emit_game($event.item); clear_cities()">
                <span class="input-group-btn" >
                    <button class="btn btn-default btn" type="button">
                        <span class="fa fa-search" (click)="get_games(giocosearch.value)"></span>
                    </button>
                </span>
            </div>

        </div>
    <ng-template #nobutton>
        <div class="input-div-right">
            <input class="form-control"
                       placeholder="Gioco"
                       #giocosearch [ngbTypeahead]="searchgames" (selectItem)="emit_game($event.item); clear_cities()">
            <div class="input-group" style="justify-content: center">
                <span class="input-group-btn" >
                    <button class="btn btn-default btn" type="button">
                        <span style="margin-right: 10px">Cerca città o gioco  </span><span class="glyphicon glyphicon-search" (click)="get_games(giocosearch.value)"></span>
                    </button>
                </span>
            </div>
        </div>
    </ng-template>
</div>




