.row-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.row-search input {
    border: 1px solid rgba(42, 50, 75, 0.39);
}
.input-div-left{
    position: relative;
    margin-top: 15px;
    width: 400px;
}
.input-div-left input {
    border-radius: 4px 0 0 4px;
    height: 50px;
}
.row > .input-div-right{
    margin-top: 15px;
    width: 400px;
}
.input-div-right input {
    border-radius: 0 0 0 0;
    height: 50px;

}
.input-div-right {
    position: relative;
}

.input-div-right .btn {
    height: 50px;
    width: 100px;
    background-color: rgba(82, 132, 193, .7);
    border-color: rgba(82, 132, 193, .1);
    color: white;
    font-size: 22px;
}

.dropdown-menu .dropdown-item{
    display: block!important;
    white-space: nowrap!important;
    background: none!important;
    border: 0!important;
}
@media only screen and (min-width: 1692px) {
    .input-div-left input {
        position: relative;
        right: 53px;
    }
    .input-div-right input {

        position: relative;
        right: 53px;
    }
    .input-div-right .btn {
        position: relative;
        right: 53px;
    }
    .search-results-cities, .search-results{
        right: 53px;
    }
}
@media only screen and (min-width: 406px) and (max-width: 806px) {
    .input-div-left .form-control {
        border-radius: 4px;
    }
    .input-div-right .form-control{
        border-radius: 4px 0 0 4px;
    }
}

@media only screen and (max-width: 405px) {
    .input-div-left .form-control, .input-div-right .form-control {
        width: 97%;
        margin: auto;
        border-radius: 4px;
    }
    .search-results, .search-results-cities{
        width: 97%;
        left: 4px;
    }
    .input-div-right .input-group-btn{
        width: 98%;
    }
    .input-group-btn .btn {
        margin: 16px 5px 0 5px;
        width: 97%;
    }
    .glyphicon{
        top: 2px;
    }
}

