.users{
    display: grid;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    grid-template-rows: 10px 80px 500px;
    grid-template-columns: 15% 85%;
    grid-template-areas: ". ." "username username" "infos content";
}

.username {
    border-bottom: 2px solid #ddd;
    grid-area: username;
    margin: 10px 0 10px 10px;

}
.username h1 {
    width: 100%;
    grid-area: title;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
    bottom: 10px;
    font-size: 32px;
    padding: 9px;
}

.username h3 {
    margin-top: 10px;
    position: relative;
    bottom: 6px;
    font-size: 24px;
    padding: 9px;
    color: #666;
    grid-area: username;
}
#infos{
    grid-area: infos;
    display: grid;
    border-right: 1px solid #ddd;
    grid-template-columns: auto;
    grid-template-rows: 60px 60px 60px 60px;
    grid-template-areas: " location" " when" " likes" 'posts';
}

.subinfo span {
    width: 75%;
    font-size: 18px;
    color: #555;
    margin-left: 10px;
    margin-top: 15px;
    transition: all 150ms ease;
}
.subinfo span:hover{
    border-bottom: 5px solid #85A8D3;
    cursor: pointer;
}
.selected-for-content{
    border-bottom: 5px solid #85A8D3;
    margin-right: 10px ;
}
.subinfo{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

#content {
    grid-area: content;
}

#info-content{
    text-align: center;
    display: grid;
    grid-template-columns: 15% 1fr 1fr 15%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            '. . . .'
            '. info-account info-location .'
            '. . . .'

}

#info-content-location {
    grid-area: info-location;
}
.info-content-divs{
    color: #555;
    font-size: 24px;
}
#info-content h1{
    font-size: 26px;
    padding-bottom: 30px;
}

#info-content-account{
    grid-area: info-account;
}
@media only screen and (min-width: 768px) and (max-width: 960px){
    .users{
        display: grid;
        width: 100%;
        max-width: 1170px;
        margin: auto;
        grid-template-rows: 10px 80px 500px;
        grid-template-columns: 25% 75%;
        grid-template-areas: ". ." "username username" "infos content";
    }
}

@media only screen and (max-width: 767px) {
    .users{
        display: grid;
        width: 100%;
        margin: auto;
        height: 680px;
        grid-template-rows: 80px 180px 380px;
        grid-template-columns: 1fr;
        grid-template-areas:  "username" "infos" 'content';
    }
    .users #username {
        border-bottom: 2px solid #ddd;
        grid-area: username;
        margin: 10px 10px 10px 10px;
        border-bottom: 2px solid #ddd;
    }
    .username h1{
        text-align: center;
    }
    .username h3{
        display: none;
    }
    #infos{
        border-right: none;
        border-bottom: 1px solid #ddd;
        grid-area: infos;
        display: grid;
        height: 170px;
        grid-template-columns: auto;
        grid-template-rows: 50px 50px 50px ;
        grid-template-areas: " location" "likes" 'posts';
    }

    #info-content{
        text-align: center;
        display: grid;
        grid-template-columns: 3% 1fr 1fr 3%;
        grid-template-rows: 1fr;
        grid-template-areas:
            '. info-account info-location .'


    }
    .subinfo span{
        width: 100%;
        text-align: center;
    }

    .subinfo{
        display: flex;
        align-items: baseline;
        justify-content: center;
        width: 100%;
    }

}
