<div *ngIf="loading" class="sk-three-bounce">
    <div class="sk-child sk-bounce1"></div>
    <div class="sk-child sk-bounce2"></div>
    <div class="sk-child sk-bounce3"></div>
</div>

<div class="users" [@enter] *ngIf="!loading">
    <header class="username">
        <h1>{{(account$|async).username}}</h1>
    </header>
    <div id="infos">
        <div class="subinfo location" (click)="whatToLoad = 'account'">
            <span [class.selected-for-content]="whatToLoad === 'account'">Informazioni</span>
        </div>
        <div class="subinfo likes" (click)="whatToLoad = 'likes'">
            <span [class.selected-for-content]="whatToLoad === 'likes'">Likes</span>
        </div>
        <div id="posts" class="subinfo" (click)="whatToLoad = 'posts'">
            <span [class.selected-for-content]="whatToLoad === 'posts'">Annunci</span>
        </div>
    </div>
    <div id="content">
        <div id="info-content" *ngIf="whatToLoad === 'account'">
            <div id="info-content-location">
                <h1><strong>Dove</strong></h1>
                <div class="info-content-divs" >Regione: </div>
                <div class="info-content-divs">Città</div>
            </div>
            <div id="info-content-account">
                <h1><strong>Informazioni</strong></h1>
                <div class="info-content-divs">{{(account$|async).username}}</div>
                <div class="info-content-divs">Registrato il: {{((account$|async).reg) | toIsoDate | slice:0:10}}</div>
            </div>
        </div>
        <div id="likes-content" *ngIf="whatToLoad === 'likes'">
            <h1 style="text-align: center; margin-bottom: 20px;">Likes</h1>
            <div *ngFor="let post of (account$|async).liked">
                <app-user-post [post]="post"></app-user-post>
            </div>
        </div>
        <div id="posts-content" *ngIf="whatToLoad === 'posts'">
            <h1 style="text-align: center; margin-bottom: 20px;">Annunci</h1>
            <div *ngFor="let post of (account$|async).posts">
                <app-user-post [post]="post"></app-user-post>
            </div>
        </div>
    </div>
</div>
