<app-sidebar [windowsize_]="windowsize_" *ngIf="(chosenlocation$|async)[1] === null; else loaded">
</app-sidebar>

<ng-template #loaded>

    <div class="sk-three-bounce" *ngIf="loading$|async; else finallyloaded">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>

    <ng-template #finallyloaded>

        <div class="opaque">
            <div class="container-fluid container-searchform">
                <app-searchform (selectedInput)="handle_click_search($event)" [windowsize_]="windowsize_"></app-searchform>
                <br>
            </div>
            <div class="posts-sidebar" [@enter] >
                <div class="wrapper-btns" *ngIf="(windowsize_| async) <= 991">
                        <div class="button-add" ngbTooltip="Non sei autenticato"
                             *ngIf="!(authenticated$|async)" placement="bottom" aria-disabled="true"
                             aria-label="aggiungi post">
                            <button class="btn btn-lg btn-outline-primary" disabled>Aggiungi</button>
                        </div>
                        <div class="button-add" ngbTooltip="Hai già aggiunto il tuo annuncio per oggi!"
                             *ngIf="(authenticated$|async) && !(canpost$|async);" placement="bottom" aria-disabled="true"
                             aria-label="aggiungi post">
                            <button class="btn btn-lg btn-outline-primary" disabled>Aggiungi</button>
                        </div>
                        <div class="button-add"
                             *ngIf="(authenticated$|async) && (canpost$|async);" placement="bottom" aria-disabled="true"
                             aria-label="aggiungi post">
                            <button class="btn btn-lg btn-outline-primary btn-enabled" (click)="open_modal()">Aggiungi</button>
                        </div>
                    </div>
                <div class="button-dropdown">
                    <div class="btn-group" *ngIf="(windowsize_|async)<=991">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" style="text-align: left">
                        Filtri
                            <span style="font-size: 18px; margin-left: 2px;">({{((chosenlocation$|async)[1] && (chosengame$|async)) ? 2 :
                                ((chosenlocation$|async)[1] || (chosengame$|async)) ? 1 : 0}})</span>
                            <span class="caret" style="position: absolute; right: 15px; top: 16px;"></span>
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdow-city">
                                <div class="dropdown-title">Città</div>
                                <div style="padding: 10px;" *ngIf="(chosenlocation$|async)[1]; else noloc">
                                    {{(chosenlocation$|async)[1]}}<i style="margin-left: 8px;" (click)="remove_location()" class="fa fa-trash-o" aria-hidden="true"></i>
                                </div>
                                <ng-template #noloc >
                                    <div style="color: #999; padding: 10px;">Nessuna città selezionata</div>
                                </ng-template>
                            </div>
                            <div class="dropdown-game">
                                <div class="dropdown-title">Gioco</div>
                                <div style="padding: 10px;" *ngIf="(chosengame$|async); else nogame">
                                    {{(chosengame$|async)}}<i style="margin-left: 8px;" (click)="remove_game()" class="fa fa-trash-o" aria-hidden="true"></i>
                                </div>
                                <ng-template #nogame >
                                    <div style="color: #999; padding: 10px;">Nessun gioco selezionato</div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s">
                    <div class="content content-city"  >
                        <div class="content-title">
                            Città
                        </div>
                        <div [@enterfast] *ngIf="(chosenlocation$|async)[1]; else nocity">
                            <div style="padding-top: 8px;">
                                {{(chosenlocation$|async)[1]}} <i style="margin-left: 4px;" (click)="remove_location()" class="fa fa-trash-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <ng-template #nocity>
                            <div style="color: #999; padding-top: 8px; font-size: 13px;">Nessuna città selezionata</div>
                        </ng-template>
                    </div>
                    <div class="content content-game" >
                        <div class="content-title">
                            Gioco
                        </div>
                        <div *ngIf="(chosengame$|async); else nog" [@enterfast]>
                            <div style="padding-top: 8px;">
                                {{(chosengame$|async)}} <i style="margin-left: 4px;" (click)="remove_game()" class="fa fa-trash-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <ng-template #nog>
                            <div style="color: #999; padding-top: 8px; font-size: 13px;" [@enterfast]>Nessun gioco selezionato</div>
                        </ng-template>
                    </div>
                    <div class="wrapper-btns" *ngIf="(windowsize_|async) > 991">
                        <div class="button-add" ngbTooltip="Non sei autenticato"
                             *ngIf="!(authenticated$|async)" placement="right" aria-disabled="true"
                             aria-label="aggiungi post">
                            <button class="btn btn-lg btn-outline-primary" disabled>Aggiungi</button>
                        </div>
                        <div class="button-add" ngbTooltip="Hai già aggiunto il tuo annuncio per oggi!"
                             *ngIf="(authenticated$|async) && !(canpost$|async);" placement="right" aria-disabled="true"
                             aria-label="aggiungi post">
                            <button class="btn btn-lg btn-outline-primary" disabled>Aggiungi</button>
                        </div>
                        <div class="button-add"
                             *ngIf="(authenticated$|async) && (canpost$|async);" placement="right" aria-disabled="true"
                             aria-label="aggiungi post">
                            <button class="btn btn-lg btn-outline-primary btn-enabled" (click)="open_modal()">Aggiungi</button>
                        </div>
                    </div>
                </div>
                <div class="posts" style="height: 0;">
                    <div class="filters">
                        <div class="num-ads col-lg-4 col-md-4 col-sm-6 col-xs-6" >
                            {{(this.posts$ | async).length}} {{(this.posts$ | async).length !==1 ? 'annunci' : 'annuncio' }}
                        </div>

                        <div class="order col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngIf="(windowsize_|async) >= 370; else f">
                            Ordine: <u (click)="change_sorting()">{{(orderStatus) === 'newest' ? 'più recenti' : 'più vecchi'}}</u>
                        </div>
                        <ng-template #f>
                            <div class="order col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <u (click)="change_sorting()">{{(orderStatus) === 'newest' ? 'Recenti' : 'Vecchi'}}</u>
                            </div>
                        </ng-template>
                        <div class="loc col-lg4 col-md-4 hidden-sm-down hidden-xs-down" *ngIf="(windowsize_|async)>600 && (chosenlocation$|async)[1]">
                           <i  (click)="remove_location()" class="fa fa-trash-o" style="margin-right: 4px;"></i>{{(chosenlocation$|async)[1]}}
                        </div>
                    </div>
                    <div *ngFor="let post of (posts$ | async); let i = index" style="position: relative">
                        <app-trova-post [post]="post" *ngIf="bcontainer[i]" ></app-trova-post>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>


</ng-template>
