.container-searchform{
    border-bottom: 1px solid #ccc;
    padding-top: 6px;
    margin-bottom: 8px;
}


.filters{
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-bottom: 1px solid #ccc;
}

.order u{
    color: #333;
}
.order u:hover{
    cursor: pointer;
}

.loc{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fa-trash-o{
    font-size: 16px;
}

.fa-trash-o:hover{
    cursor: pointer;
    color: rgb(212, 119, 121);
}

.posts-sidebar{
    display: grid;
    grid-template-columns: 5% 20% 45% 20% 5%;
    grid-template-rows: 1fr;
    grid-template-areas: '. s posts . .';
    height: 700px;
}
.posts{
    grid-area: posts;
    width: 100%;
}
.s {
    grid-area: s;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 120px 115px 60px;
    grid-template-areas: '. contentcity .' '. contentgame .' '. btnn .';
}
.content-city{
    grid-area: contentcity;
    margin-top: 10px;
}

.content-game{
    grid-area: contentgame;
}
.content-title{
    width: 100%;
    height: 40px;
    background-color: rgba(82, 132, 193, .7);
    color: #fff;

    font-size: 16px;
    font-weight: 600;
    padding: 8px 8px;
}
.remove-opaque .btn-group{
    display: none;
}
.dropdow-city{
    border-bottom: 1px solid #ccc;
}
.dropdown-title{
    font-size: 18px;

    padding: 10px;
    font-weight: 600;
    color: #555;
}
.button-add{
    grid-area: btnn;
    justify-self: right;
}

.btn-enabled:hover {
    cursor: pointer;
}
.wrapper-btns{
    grid-area: btnn;
    justify-self: right;
}
@media only screen and (max-width: 1690px) {
    .posts-sidebar{
        display: grid;
        grid-template-columns: 5% 20% 55% 15% 5%;
        grid-template-rows: 1fr;
        grid-template-areas: '. s posts . .';
        height: 700px;
    }
}

@media only screen and (max-width: 1580px) {
    .posts-sidebar{
        display: grid;
        grid-template-columns: auto 20% 55% 15%;
        grid-template-rows: 1fr;
        grid-template-areas: '. s posts . .';
        height: 700px;
    }
    .s {
        grid-area: s;
        display: grid;
        grid-template-columns: 10% 78% 2%;

    }
}
@media only screen and (max-width: 1150px) {
    .s {
        grid-area: s;
        display: grid;
        grid-template-columns: 5% 83% 2%;

    }
}

@media only screen and (max-width: 991px) {
    .posts-sidebar{
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 6% 12px 6% 1fr;
        grid-template-areas: '. add .' '. . .' '. btn .' '. posts .';
        height: 700px;
    }
    .s{
        display: none;
    }
    .wrapper-btns{
        grid-area: add;
        justify-self: normal;
    }
    .btn-lg {
        width: 100%;
        padding: .7rem;
        font-size: 1rem;
        border-radius: .3rem
    }
    .button-dropdown{
        grid-area: btn;
        display: grid;
        grid-template-rows:  1fr ;
        grid-template-columns: 1fr;
        grid-template-areas: 'button' ;
    }
    .button-dropdown .btn-group {

        grid-area: button;
        justify-self: center;
        align-self: center;
        width: 100%;
    }
    .button-dropdown .btn {
        width: 100%;
        background-color: #85A8D3;
        color: white;
        font-size: 18px;
    }
    .dropdown-menu{
        width: 100%;
    }

}
@media only screen and (max-width: 600px) {
    .posts-sidebar{
        display: grid;
        grid-template-columns: 5% 1fr 5%;
        height: 700px;
    }

}
