<div class="btn-group" role="group" aria-label="..." style="display: inline;" >
    <button type="button" class="btn btn-secondary" *ngIf="prev$|async" (click)="clicked_prev()">Prev</button>
    <button type="button" class="btn btn-secondary" (click)="clicked_page(p)" [class.active]="p === (currentPage$|async)-1"
*ngFor="let p of (buttonrange$|async|slice:(((portion$|async)-1)*BUTTONSTODISPLAY):(portion$|async)*BUTTONSTODISPLAY)"
    >{{p+1}}
    </button>
    <button type="button" class="btn btn-secondary" *ngIf="next$|async" (click)="clicked_next()">Next</button>
</div>
