.form-control.ng-dirty.ng-valid {
    border: 2px solid forestgreen;
}

.form-group .form-control.ng-dirty.ng-invalid, .password-group-invalid.ng-dirty,
.password-group-invalid.ng-dirty.ng-valid{
    border: 2px solid #D63B5D;
}

.btn-primary{
    background-color: rgb(82, 132, 193);
    border-color: rgb(82, 132, 193)
}