.container-post {
    width: 100%;
}

.game-title{
    font-size: 30px;
    line-height: 40px;
    color: #2a324b;
    padding-top: 5px;
    padding-bottom: 3px;
}

.game-city{
    color: #777;
    font-size: 17px;
}

.game-description {
    font-size: 16px;
    text-overflow: ellipsis;
    line-height: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.game-likes{
    border-bottom: 1px solid #ccc;
}
.redborder {
    border-right: 7px solid rgb(212, 119, 121);
}
.notuser:hover {
    cursor: pointer;
    text-decoration: underline;
}
.te {
    font-size: 0.78rem;
    color: #888;
}
.span-gamecity{
    padding-left: 5px;
    padding-right: 5px;
}
.fa-plus-square-o {
    color: #3588ef;
    font-size: 26px;
    margin-right: 4px;
}
.fa-check {
    color: #c14c4f;
    font-size: 24px;
    margin-right: 4px;
}
.fa-plus-square-o:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: all ease 200ms;
}
@media only screen and (max-width: 991px) {
    .container-post{
        margin-left: auto;
    }
}
