<div class="container-post" [@enterfastfromright] [class.redborder]="isOfUser">
    <div class="game-title" >
        <i class="fa fa-plus-square-o" *ngIf="!isOfUser && !isLikedByUser && canlike$|async" (click)="open_like_modal(likepost)"></i>
        <i class="fa fa-check" *ngIf="!isOfUser && isLikedByUser" ngbTooltip="Ti sei interessato" placement="right"></i>
        {{post.game}}
    </div>
    <div class="game-city ">
        <span style="padding-right: 5px">{{post.location}}</span> <span class="span-gamecity">|</span>
        <span class="span-gamecity">{{post.timestamp | toIsoDate | slice:0:10 }}</span>
        <span class="span-gamecity">|</span>
        <span class="span-gamecity notuser" *ngIf="!isOfUser" (click)="go_to_account(post.user_username, post._id)" style="color: #353535" >
            {{post?.user_username}}
        </span>
        <span class="span-gamecity" *ngIf="isOfUser" style="color: #353535" >
            {{post?.user_username}}
            <span class="te" >(te)</span>
        </span>
    </div>
    <div class="game-description ">
        {{post.description}}
    </div>

</div>

<ng-template  #likepost let-d="dismiss" let-c="close">
    <p style="text-align: center; padding: 5px;">Vuoi mostrarti interessato all'annuncio? Ricordati che puoi interessati
        <u>solo a due</u> annunci al giorno</p>
    <div class="container-btns">
        <button class="btn btn-outline-success" (click)="liked(post); c('chosen')">Sì</button>
        <button class="btn btn-outline-warning" (click)="d('close')">No</button>
    </div>
</ng-template>
