<div class="container sidebar" [@enter]>
    <div class="container sidebar-title">
        Dove
    </div>
    <div class="cerca">
        <div class="regions" *ngIf="((windowsize_|async) > 380) || !(chosenlocation$|async)[0]">
            <div class="title">Regione</div>
            <div class="region-name" *ngFor="let region of regions"
                 (click)="select_region(region)"
                 [class.region-name-focused]="region.name === (chosenlocation$|async)[0]">{{region.name}}</div>
        </div>
        <div class="cities" *ngIf="(chosenlocation$|async)[0] !== null">
            <div class="title">Città</div>
        <div class="region-name" *ngFor="let city of cities$| async"
                 (click)="select_city(city)">{{city.name}}</div>
        </div>
    </div>
</div>