
.sidebar{
    margin-top: 40px;
}

.sidebar-title{
    width: 100%;
    height: 45px;
    background-color: rgba(82, 132, 193, .7);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 12px;
}

.cerca {
    display: grid;
    grid-template-columns: 3% 1fr 1fr 3%;
    grid-template-rows: 10px 1fr;
    grid-template-areas: '. . . .' '. regions cities .';
    border: 2px solid rgba(82, 132, 193, .7);
    height: 545px;

}
.regions{
    grid-area: regions;
}
.cities{
    grid-area: cities;
}
.regions .title, .cities .title{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.region-name{
    border-radius: 3px 3px 3px 3px;
    font-size: 16px;
}
.region-name:hover{
    background-color: rgb(212, 119, 121);
    color: white;
    cursor: pointer;
}
.region-name-focused{
    background-color: rgb(212, 119, 121);
    color: white;
}
.container-tag{
    width: 100%;
    margin: 10px 0 10px 0;
    padding-right: 0;
    padding-left: 0;
}
.container-tag .btn {
    margin-top: 10px;

    background-color: rgb(212, 119, 121);
    border-color: rgb(212, 119, 121);
    padding-top: 5px;
}
.container-tag .btn .glyphicon{
    font-size: 15px;

}
.tag:hover{
    cursor: default;
    background-color: rgba(255,255,255,.2);
}
.tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 2px solid rgb(212, 119, 121);
    padding: 4px;
    white-space: nowrap;
}


@media only screen and (min-width: 1190px) {
    .sidebar {
        width: 45%!important;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1190px) {
    .sidebar {
        width: 45%!important;
    }
}

@media only screen and (max-width: 380px) {

    .cerca {
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 10px 1fr;
        grid-template-areas: '. . .' '. regions .';
        border: 2px solid rgba(82, 132, 193, .7);
        height: 550px;
    }
    .regions, .cities{
        text-align: center;
        grid-area: regions;
    }


}