html{
    overflow-y: scroll;
}
#my-body-wrapper {
    overflow-x:hidden;
    margin-top: 0;
    width: 100%;
    height: 1300px;
}
.navbar-default{
    background-color: rgb(212, 119, 121);
    border-color: rgb(212, 119, 121);
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #2A324B;
}
.container h1{
    font-size: 32px;
    color: #2a324b;
}
.jumbotron{
    background-color: rgb(212, 119, 121);
    padding-top: 0;
    margin-bottom:0;
    padding-bottom: 58px;
    border-radius: 0;
}
.jumbotron-shorter {
    overflow: visible;
    overflow-wrap: break-word;
    padding-top: 0;
    padding-bottom: 0;
}
.jumbotron-h1, .jumbotron-text{
    text-align: center;
    color: #fff;
    font-family: "Arial", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jumbotron h1{
    margin-top: 0;
}
.jumbotron-h1 h1 {
    font-size: 65px;
}
.jumbotron-text {
    font-size: 25px;
}

.navbar-default .navbar-nav>li>a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navbar-default .navbar-right>li>a:hover{
    cursor: pointer;
    text-decoration: underline;
}


.abcRioButton{
    background-color: #d47779!important;
    color: white!important;
}

.abcRioButtonIcon{
    background-color: #efefef;
    border: 1px solid #ddd;
}

.container-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-btns button {
    margin: 15px;
}

.container-logout form {
    margin: auto;
    width: 50%;
    max-width: 300px;
    min-width: 200px;
}

/**
Three bounces animation

Usage:

<div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
</div>
 **/
.sk-three-bounce {
  margin: 80px auto;
  width: 80px;
  text-align: center;
}
.sk-three-bounce .sk-child {
width: 20px;
height: 20px;
background-color: rgba(82, 132, 193, .7);
border-radius: 100%;
display: inline-block;
-webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
        animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-three-bounce .sk-bounce1 {
-webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
}
.sk-three-bounce .sk-bounce2 {
-webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
}
@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);  }
}
@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); }
}
