
.sidebar-games{
    margin-top: 40px;
}

.sidebar-title{
    width: 100%;
    height: 45px;
    background-color: rgba(82, 132, 193, .7);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 12px;
}

.games {
    display: grid;
    grid-template-columns: 3% 1fr 1fr 1fr 1fr 3%;
    grid-template-rows: 10px 1fr;
    grid-template-areas: '. . . . . .' '. col1 col2 col3 col4 .';
    border: 2px solid rgba(82, 132, 193, .7);
    height: 550px;

}
.table td {
    padding: .5rem!important;
}
#col1{
    grid-area: col1;
}
#col2{
    grid-area: col2;
}
#col3{
    grid-area: col3;
}
#col4{
    grid-area: col4;
}

.cat-name{
    border-radius: 3px 3px 3px 3px;
    font-size: 16px;
}
.cat-name:hover{
    background-color: rgb(212, 119, 121);
    color: white;
    cursor: pointer;
}
.cat-name-focused{
    background-color: rgb(212, 119, 121);
    color: white;
}

.category{
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 12px;
    margin-left: 8px;
}

.fa-trash-o{
    position: relative;
    bottom: 2px;
    font-size: 24px;
    margin-left: 15px;
}

.fa-trash-o:hover {
    cursor: pointer;
    color: rgb(212, 119, 121);
}

#button-space{
    display: none;
}
.table-row{
    transition: all 100ms ease;
}
.table-row:hover{
    background-color: rgba(200, 200, 200, 0.5);
    cursor: pointer;
}
@media only screen and (max-width: 991px) and (min-width: 720px) {
    .games {
        height: 730px;
    }
}

@media only screen and (max-width: 720px) {
    .games {
        display: grid;
        grid-template-columns: 5% 1fr 1fr 5%;
        grid-template-rows: 10px 1fr 5%;
        grid-template-areas: '. . . .' '. col1 col2 .' '. . space .';
        border: 2px solid rgba(82, 132, 193, .7);
        height: 550px;
    }
    #col3{
        grid-area: col1;
    }
    #col4{
        grid-area: col2;
    }
    #col3,#col4{
        display: none;
    }
    #button-space{
        display: block;
        grid-area: space;
        position: relative;
        top: 60px;
        right: 40px;
    }
}

@media only screen and (max-width: 430px) {
    .games {
        display: grid;
        grid-template-columns: 5% 1fr 1fr 5%;
        grid-template-rows: 10px 1fr 5%;
        grid-template-areas: '. . . .' '. col1 col2 .' '. . space .';
        border: 2px solid rgba(82, 132, 193, .7);
        height: 630px;
    }
}
@media only screen and (max-width: 380px) {

    .games {
        display: grid;
        grid-template-columns: 26% 1fr 20%;
        grid-template-rows: 10px 1fr 5% ;
        grid-template-areas: '. . .' '. col1 .' '. space .';
        border: 2px solid rgba(82, 132, 193, .7);
        height: 550px;
    }
    .table th {
        font-size: 15px;
    }
    #col2,#col3,#col4{
        display: none;
        grid-area: col1;
    }
    #button-space{
        display: block;
        grid-area: space;
        position: relative;
        left: 25px;
    }

}