<div class="container sidebar-games" [@enter] *ngIf="show$|async; else showcontent">
    <div class="container sidebar-title">
        Categorie
    </div>
    <div class="games">
        <div id="col1">
            <div class="cat-name" *ngFor="let ca of cat|slice:0:21"
            (click)="select_category(ca)" >{{ca.it}}</div>
        </div>
        <div id="col2">
            <div class="cat-name" *ngFor="let ca of cat|slice:21:42"
            (click)="select_category(ca)">{{ca.it}}</div>
        </div>
        <div id="button-space">
            <button class="btn btn-default" id="btncol">NEXT</button>
        </div>
        <div id="col3">
            <div class="cat-name" *ngFor="let ca of cat|slice:42:63"
            (click)="select_category(ca)">{{ca.it}}</div>
        </div>
        <div id="col4">
            <div class="cat-name" *ngFor="let ca of cat|slice:63:84"
            (click)="select_category(ca)">{{ca.it}}</div>
        </div>
    </div>
</div>
<ng-template #showcontent>

    <div class="sk-three-bounce" *ngIf="loading$|async; else finallyshow">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>

    <ng-template #finallyshow>
        <div class="container" [@enter]>
            <div class="category">{{(category$|async).it}}</div><i (click)="remove_location()" class="fa fa-trash-o"></i>
            <table class="table">
                <tr class="table-header">
                    <th><strong>Nome</strong></th>
                    <th><strong>Proprietari</strong></th>
                    <th class="hidden-xs-down"><strong>Voti</strong></th>
                    <th><strong>Media</strong></th>
                </tr>
                <tr *ngFor="let game of (games$|async)|slice:(((currentPage$|async) -1) *15):((currentPage$|async)*15)" class="table-row">
                    <td class="game-td" (click)="select_game(game)">{{game.name}}</td>
                    <td>{{game.owners}}</td>
                    <td class="hidden-xs-down">{{game.ratings}}</td>
                    <td>{{game.avg | number:'1.0-2'}}</td>
                </tr>
            </table>
            <app-button [currentPage$]="currentPage$"></app-button>
    </div>





    </ng-template>
</ng-template>